#About{
    margin-block: 8rem;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.skill-item{
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid var(--primary-blue);
    display: flex;
    align-items: center;
    gap: 2px;
}

.active-tab_content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: .5rem;
}
.prof-skill_buttons{
    display:  flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5px 0;    
}

.prof-skill_buttons button{
    background-color: white;
    border: none;
    color: var(--deep-blue);
    scroll-snap-align: start;
    max-width: max-content;
    padding: 10px 20px;
    transition: 300ms all;
}

.prof-skill_buttons button:hover{
    background-color: var(--deep-blue);
    background-color: aliceblue;
    color: var(--deep-blue);
}

.prof-skill_buttons button.active{
    background-color: var(--deep-blue);
    color: white;
}

@media screen and (max-width: 650px) {
    .about-grid {
        grid-template-columns: 1fr;
    }

    #About{
        margin-block: 3rem;
        /* text-align: center; */
    }
}