.contact .icon svg{
    padding: 3px;
    font-size: 2rem;
}

.contact a span{
    color: black;
    display: block;
}

.contact-grid{
    display: flex;
    gap: 1rem;
}
.contact-grid div.flex{
    flex-shrink: 0;
}

@media screen and (max-width:650px) {
    .contact-grid{
        flex-direction: column;
        gap: 1.5rem;
    }
}