#Contact{
    border-top: 1px solid gainsboro;
    background-color: #0E172D;
    color: white;
}

.contact{
    padding-block: 7rem;
}
.contact .icon svg{
    padding: 3px;
    font-size: 2rem;
}

.contact a span{
    color: white;
    display: block;
}

.contact-grid{
    display: flex;
    gap: 1rem;
}
.contact-grid div.flex{
    flex-shrink: 0;
}

@media screen and (max-width:650px) {
    .contact-grid{
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact{
    padding-block: 4rem;
}
}