.hero{
    width: min(650px, 99%);
    margin-inline: auto;
    text-align: center;
    display: flex;
    color: #343434;
    position: relative;
}

.hero-content{
    margin-block: 4.5rem;
}

.content-name{
    color: var(--primary-blue);
    font-weight: bold;
}
.content-underline{
    text-decoration: underline;
    text-decoration-color: var(--primary-blue);
}


.hero-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.hero-links a svg{
    font-size: 2rem;
}
.hero-links a:nth-child(1) svg{
    color: black;
}
.hero-links a:nth-child(2) svg{
    color: #0B65C2;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    margin-block: 1.5rem;
}

.resume-links{
    position: absolute;
    background-color: white;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: all 250ms;
    scale: 0;
    transform-origin: left;
}

.resume-links.active{
    transform-origin: left;
    scale: 1;
}

.resume-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume-link:nth-child(1){
    margin-bottom: .4rem;
}


.overlay.active{
    position: absolute;
    inset: 0;
    z-index: 2;
}


.marquee{
    all: unset;
}
.marquee svg{
    color: var(--primary-blue);
}

.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    height: 100%;
    background-color: #0E172D;
    padding: 30px;
    z-index: 2;
    position: relative;
    color: white;
}

.marquee:hover .marquee__content{
    animation-play-state: paused;
}  

.marquee__content {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 10s linear infinite; 
}



@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }


@media screen and (max-width: 650px) {
    .hero-content{
        margin-block: 1rem;
    }

    .resume-links{
        bottom: 50px;
    }
}