@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  display: block;
}

body{
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Source Code Pro', monospace; */
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}


:root{
  --primary-blue: #2C90ED;
  --deep-blue: #0063c0;


  /* FONT WEIGHT */
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
  --fw-black: 900;

  /* Sizes */
  --size-10: .2rem;
  --size-50: .35rem;
  --size-100: 0.7rem;
  --size-150: 0.85rem;
  --size-200: 1rem;
  --size-250: 1.125rem;
  --size-300: 1.25rem;
  --size-400: 1.5rem;
  --size-500: 1.75rem;
  --size-550: 1.85rem;
  --size-600: 2rem;
  --size-650: 2.25rem;
  --size-700: 2.5rem;
  --size-800: 3rem;
  --size-850: 3.5rem;
  --size-900: 5rem;
}



/* SECTION MARGIN */
.section-margin{
  margin: .5rem 10px;
}

@media screen and (min-width: 600px) {
  .section-margin{
    margin: 0 8rem;
  }
}

.section-title{
  text-align: center;
  width: min(750px, 90%);
  margin-inline: auto;
}


/* Font Sizes */
.fs-100{
  font-size: var(--size-100);
}
.fs-150{
  font-size: var(--size-150);
}
.fs-200{
  font-size: var(--size-200);
}
.fs-250{
  font-size: var(--size-250);
}
.fs-300{
  font-size: var(--size-300);
}
.fs-400{
  font-size: var(--size-400);
}
.fs-500{
  font-size: var(--size-500);
}
.fs-550{
  font-size: var(--size-550);
}
.fs-600{
  font-size: var(--size-600);
}
.fs-650{
  font-size: var(--size-650);
}
.fs-700{
  font-size: var(--size-700);
}
.fs-800{
  font-size: var(--size-800);
}
.fs-850{
  font-size: var(--size-850);
}
.fs-900{
  font-size: var(--size-900);
}


/* Margin Block */
  .margin-block-10{
    margin-block: var(--size-10);
  }
  .margin-block-50{
    margin-block: var(--size-50);
  }
  .margin-block-100{
    margin-block: var(--size-100);
  }
  .margin-block-200{
    margin-block: var(--size-200);
  }
  .margin-block-300{
    margin-block: var(--size-300);
  }
  .margin-block-400{
    margin-block: var(--size-400);
  }
  .margin-block-500{
    margin-block: var(--size-500);
  }
  .margin-block-700{
    margin-block: var(--size-700);
  }



  /* Padding Block */
  .padding-block-10{
    padding-block: var(--size-10);
  }
  .padding-block-50{
    padding-block: var(--size-50);
  }
  .padding-block-100{
    padding-block: var(--size-100);
  }
  .padding-block-200{
    padding-block: var(--size-200);
  }
  .padding-block-300{
    padding-block: var(--size-300);
  }


/* Font Weight */
.fw-thin{
  font-weight: var(--fw-thin);
}
.fw-regular{
  font-weight: var(--fw-regular);
}
.fw-semi-bold{
  font-weight: var(--fw-semi-bold);
}
.fw-bold{
  font-weight: var(--fw-bold);
}
.fw-black{
  font-weight: var(--fw-black);
}


/* Opacity */
.op-0{
  opacity: 0;
}
.op-100{
  opacity: .8;
}
.op-200{
  opacity: .7;
}

.flex{
  display: flex;
}
.jc-space-between{
  justify-content: space-between;
}
.jc-center{
  justify-content: space-between;
}
.ai-center{
  align-items: center;
}


/* BUTTON */
.button {
  color: white;
  font-size: var(--size-200);
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  transition: all 250ms;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: .4rem;
}

[data-type="white"]{
  border: 1px solid gray;
  background-color: white;
  color: black;
}
[data-type="white"]:hover{
  background-color: #f0f0f0;
}

[data-type="blue"]{
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}

[data-type="blue"]:hover{
  background-color: var(--deep-blue);
}

[data-type="clr-blue"]{
  color: var(--primary-blue);
}

